name: "main-CI"
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Run pipeline
        uses: juliandittmann/run-alpipeline@main
        with:
          version: ci
          appVersion: '1.0'
          appBuild: ${{github.run_number}}
          appRevision: 0
